html, body, div, h1, h2, h3, h4, h5, h6, img {
    margin: 0;
    border: 0 none;
    padding: 0;
    }
html, body {
    height: 100%;
    min-height: 100%;
}
.page {
    display: none;
    height: 100%;
    min-height: 100%;
    background-color: #ccc;
}
.title {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
    height: 2em;
}
.title h1{
    font-size: inherit !important;
    line-height: 2em;
}

#page1{
    background-color: red;
}
#page2{
    background-color: blue;
}
