html, body, div, h1, h2, h3, h4, h5, h6, img, * {
    margin: 0;
    border: 0 none;
    padding: 0;
    font-size: 100%;
    }
html, body {
    height: 100%;
    min-height: 100%;
}

.left{
    float: left;
}
.right{
    float: right;
}



.page {
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    overflow: auto;
}

.fixed-title{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.title {
    vertical-align: middle;
    text-align: center;
    background-color: #8f0000;
    color: #fff;
    font-size: 150%;
    line-height: 200%;
}
.title-inner{
    padding: 0 0.5em;
}
.title .action{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}


.content{
    font-size: 100%;
    clear: both;
    padding: 3.5em 0.5em 1em 0.5em;
}
.content .content-inner{
}


#page1{

}
#page2{

}
