.doc-container,
.doc-container .row{
    position: relative;
}
.doc-container .sidebar{
    width: 263px;
}

.navbar-default .navbar-brand{
    font-size: 24px;
    font-weight: 600;
}

.tags .btn{
    cursor: pointer;
    margin-bottom: 0.5em;
    padding: 4px 6px;
}
.btn-success .badge{
    background-color: #fff;
    color: #428bca;
}
.btn-primary .badge{
    background-color: #fff;
    color: #428bca;
}


.product{
    background-color: #F5F5F5;
}

.thumbnail .title{
    margin: 0.6em 0 0 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #974C19;
}
.thumbnail p{
    margin: 0.4em 0;
    font-size: 0.9em;
    color: #974C19;
}
.thumbnail .label{
    font-size: 100%;
    line-height: 200%;
}

.sep1{
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    clear: both;
}

.navbar-default #navbar-main .caret{
  border-top-color: #fff;
  border-bottom-color: #fff;
}











.navbar-truease {
  background-color: #428bca;
  border-color: #428bca;
}

.navbar-truease .navbar-brand {
  color: #fff;
  font-size: 2em;
}

.navbar-truease .navbar-brand:hover,
.navbar-truease .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-truease .navbar-text {
  color: #fff;
}

.navbar-truease .navbar-nav > li > a {
  color: #fff;
}

.navbar-truease .navbar-nav > li > a:hover,
.navbar-truease .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-truease .navbar-nav > .active > a,
.navbar-truease .navbar-nav > .active > a:hover,
.navbar-truease .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #fff;
}

.navbar-truease .navbar-nav > .disabled > a,
.navbar-truease .navbar-nav > .disabled > a:hover,
.navbar-truease .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}

.navbar-truease .navbar-toggle {
  border-color: #428bca;
}

.navbar-truease .navbar-toggle:hover,
.navbar-truease .navbar-toggle:focus {
  background-color: #428bca;
}

.navbar-truease .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-truease .navbar-collapse,
.navbar-truease .navbar-form {
  border-color: #101010;
}

.navbar-truease .navbar-nav > .current > a,
.navbar-truease .navbar-nav > .current > a:hover,
.navbar-truease .navbar-nav > .current > a:focus,
.navbar-truease .navbar-nav > .open > a,
.navbar-truease .navbar-nav > .open > a:hover,
.navbar-truease .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #5cb85c;
  background-color: #3276b1;
}

.navbar-truease .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-truease .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-truease .navbar-nav > .open > a .caret,
.navbar-truease .navbar-nav > .open > a:hover .caret,
.navbar-truease .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-truease .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-truease .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-truease .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-truease .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-truease .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-truease .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-truease .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
  }
  .navbar-truease .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-truease .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-truease .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #fff;
    background-color: transparent;
  }
}

.navbar-truease .navbar-link {
  color: #999999;
}

.navbar-truease .navbar-link:hover {
  color: #ffffff;
}
